@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --text-yellow: #ffd270;
    --bg-gradient-top-color: #082a49;
    --bg-gradient-bottom-color: #0e3f6c;
    --font-mono: GeistMono;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url(/fonts/Poppins-Medium.ttf);
  }

  @font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url(/fonts/Poppins-SemiBold.ttf);
  }

  @font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(/fonts/Poppins-Bold.ttf);
  }

  @font-face {
    font-family: GeistMono;
    font-weight: 500;
    src: url(/fonts/GeistMono-Variable.ttf);
  }

  @font-face {
    font-family: GeistMono;
    font-weight: 600;
    src: url(/fonts/GeistMono-Variable.ttf);
  }

  @font-face {
    font-family: GeistMono;
    font-weight: 700;
    src: url(/fonts/GeistMono-Variable.ttf);
  }
}

.default-template {
  background-image: linear-gradient(
    -5deg,
    hsl(209deg 77% 24%) 0%,
    hsl(209deg 78% 23%) 15%,
    hsl(209deg 78% 21%) 20%,
    hsl(209deg 79% 20%) 24%,
    hsl(209deg 79% 18%) 27%,
    hsl(209deg 80% 17%) 31%,
    hsl(209deg 80% 16%) 35%,
    hsl(215deg 60% 15%) 41%,
    hsl(221deg 48% 14%) 47%,
    hsl(229deg 39% 12%) 56%,
    hsl(241deg 32% 10%) 66%,
    hsl(257deg 47% 7%) 80%,
    hsl(263deg 100% 3%) 100%
  );
}

.stripesA-template {
  background: repeating-linear-gradient(
    135deg,
    #2f4476 0 15px,
    #D98EAA 15px 40px,
    #586ca5 40px 60px,
    #F7F7F7 60px 80px,
    #94284F 80px 90px
  );
}

.stripesB-template {
  --bg-dark: #4AA879;
  --bg-light: #E3DED7;
  --size: 30px;
  background-image: 
    linear-gradient(135deg, var(--bg-light) 25%, transparent 25%),
    linear-gradient(225deg, var(--bg-light) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg-light) 25%, transparent 25%),
    linear-gradient(315deg, var(--bg-light) 25%, var(--bg-dark) 25%);
  background-position: var(--size) 0, var(--size) 0, 0 0, 0 0;
  background-size: calc(var(--size) * 2) calc(var(--size) * 2);
  background-repeat: repeat;
}

.pink-blue-template {
  background-image: linear-gradient(
    0deg,
    hsl(349deg 80% 76%) 0%,
    hsl(347deg 67% 75%) 3%,
    hsl(344deg 56% 73%) 6%,
    hsl(340deg 46% 72%) 9%,
    hsl(335deg 36% 70%) 12%,
    hsl(327deg 28% 68%) 15%,
    hsl(315deg 20% 66%) 19%,
    hsl(292deg 16% 65%) 24%,
    hsl(267deg 17% 66%) 29%,
    hsl(243deg 18% 66%) 36%,
    hsl(226deg 24% 65%) 44%,
    hsl(216deg 31% 62%) 56%,
    hsl(210deg 37% 60%) 72%,
    hsl(206deg 43% 57%) 100%
  );
}
